<div class="container mt-4">
  <h2>{{ id ? "Editar Cliente" : "Novo Cliente" }}</h2>
  <form (ngSubmit)="salvar()">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input
        id="nome"
        name="nome"
        class="form-control"
        [(ngModel)]="cliente.nome"
        required
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        id="email"
        name="email"
        class="form-control"
        [(ngModel)]="cliente.email"
        required
      />
    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
    <a routerLink="/" class="btn btn-secondary ms-2">Cancelar</a>
  </form>
</div>
